<div class="newsletter-area">
            <div class="container container-default h-100 custom-area">
                <div class="row h-100">
                    <div class="col-lg-8 col-xl-5 offset-xl-6 offset-lg-3 col-custom">
                        <div class="newsletter-content text-center d-flex flex-column align-items-center justify-content-center h-100">
                            <div class="section-content">
                                <h4 class="title-4 text-uppercase">Специальные <span>предложения</span> для подписчиков</h4>
                                <h2 class="title-3 text-uppercase">Оставь свой email </h2>
                                <p class="desc-content">чтобы первым узнавать об акциях<br> и специальных предложениях</p>
                            </div>
                            <div class="newsletter-form-wrap ml-auto mr-auto">
                                <form id="mc-form" class="mc-form d-flex position-relative" method="post" action="{% url 'contact' %}">
                                    {% csrf_token %}
                                    {{ contact_form }}
                                    <button id="mc-submit" class="btn primary-btn obrien-button newsletter-btn position-absolute" type="submit">Отправить</button>
                                </form>
                                
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div>
                                    <div class="mailchimp-success text-success"></div>
                                    <div class="mailchimp-error text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    