{% load static %}
{% load contact_tags %}

    {% contact_form %}

<footer class="footer-area">
     <div class="footer-copyright-area">
        <div class="container custom-area">
            <div class="row">
                <div class="col-12 text-center col-custom">
                    <div class="copyright-content">
                        <p>Copyright © 2021 <a href="{% url 'about:about_project' %}">О проекте  </a> <a href="https://github.com/Viktrols" target="_blank"title="Github">
                        <i class="fa fa-github"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>