{% load static %}
        <header class="main-header-area">
            <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="{% url 'index' %}">
                                            <img class="img-full" src="{% static 'assets/images/logo/logo.png' %}" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            
                                            <li>
                                                <a href="{% url 'shop' %}">
                                                    <span class="menu-text">Магазин</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <div class="mega-menu dropdown-hover">
                                                    <div class="menu-colum">
                                                        <ul>
                                                            <li><span class="mega-menu-text">Категории</span></li>
                                                            {% for category in categories %}
                                                            <li><a href="{% url 'category_products' category.slug %}">{{ category.name }}</a></li>
                                                            {% endfor%}
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="menu-colum">
                                                        <ul>
                                                            <li><span class="mega-menu-text">Товары</span></li>
                                                            <li><a href="{% url 'shop' %}">Все товары</a></li>
                                                            <li><a href="variable-product-details.html">Веганское</a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <a href="{% url 'index_blog' %}">
                                                    <span class="menu-text">Блог</span>
                                                </a> 
                                            </li>
                                            <li>
                                                <a href="about-us.html">
                                                    <span class="menu-text">О проекте</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="contact-us.html">
                                                    <span class="menu-text">Контакты</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                            {% if user.is_authenticated %}
                                            <span><a href="{% url 'my_account' user.username %}">Мой аккаунт</a></span>
                                            <span><a href="{% url 'logout' %}">Выйти</a></span>
                                            {% else %}
                                                <span><a href="{% url 'login' %}">Войти</a></span>
                                                <span><a href="{% url 'signup' %}">Регистрация</a></span>{% endif %}
                                            </li>
                                            
                                            <li class="minicart-wrap">
                                                <a href="{% url 'cart_detail' %}" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    {% if item_count > 0 %}
                                                    <span class="cart-item_count">{{ item_count }}</span>
                                                    {% else %}
                                                    <span class="cart-item_count">0</span>
                                                    {% endif %}
                                                </a>
                                                
                                            </li>
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="index.html">
                                            <img class="img-full" src="{% static 'assets/images/logo/logo.png' %}" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            
                                            <li>
                                                <a href="shop.html">
                                                    <span class="menu-text">Магазин</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <div class="mega-menu dropdown-hover">
                                                    <div class="menu-colum">
                                                        <ul>
                                                            <li><span class="mega-menu-text">Категории</span></li>
                                                            {% for category in categories %}
                                                            <li><a href="{% url 'category_products' category.slug %}">{{ category.name }}</a></li>
                                                            {% endfor%}
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="menu-colum">
                                                        <ul>
                                                            <li><span class="mega-menu-text">Товары</span></li>
                                                            <li><a href="{% url 'shop' %}">Все</a></li>
                                                            <li><a href="variable-product-details.html">Веганское</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="menu-colum">
                                                        <ul>
                                                            <li><span class="mega-menu-text">Others</span></li>
                                                            <li><a href="error-404.html">Error 404</a></li>
                                                            <li><a href="compare.html">Compare Page</a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="{% url 'index_blog'%}">
                                                    <span class="menu-text">Блог</span>
                                            
                                                </a>
                                            </li>
                                            <li>
                                                <a href="about-us.html">
                                                    <span class="menu-text">О проекте</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="contact-us.html">
                                                    <span class="menu-text">Контакты</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="login.html">Войти</a></span>
                                                <span><a href="register.html">Регистрация</a></span>
                                            </li>
                                            <li class="minicart-wrap">
                                                <a href="{% url 'cart_detail' %}" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    {% if item_count > 0 %}
                                                    <span class="cart-item_count">{{ item_count }}</span>
                                                    {% else %}
                                                    <span class="cart-item_count">0</span>
                                                    {% endif %}
                                                </a>
                                                    
                                                
                                            </li>
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            <form>
                                <input type="text" placeholder="Search product...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="#">Магазин</a>
                                        <ul class="megamenu dropdown">
                                            <li class="mega-title has-children"><a href="#">Категории</a>
                                                <ul class="dropdown">
                                                   {% for category in categories %}
                                                   <li><a href="{% url 'category_products' category.slug %}">{{ category.name }}</a></li>
                                                   {% endfor %}
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">Товары</a>
                                                <ul class="dropdown">
                                                    <li><a href="product-details.html">все товары</a></li>
                                                    <li><a href="variable-product-details.html">веганское</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li class="menu-item-has-children "><a href="{% url 'index_blog' %}">Блог</a>
                                        
                                    </li>
                                    <li><a href="about-us.html">О проекте</a></li>
                                    <li><a href="contact-us.html">Контакты</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="">Register</a></li>
                                       
                                    </li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="info@yourdomain.com">(1245) 2456 012</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="info@yourdomain.com">info@yourdomain.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="off-canvas-widget-social">
                                <a title="Facebook-f" href="#"><i class="fa fa-facebook-f"></i></a>
                                <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- Header Area End Here -->