{% extends "includes/base.html" %} 
{% block content %}

<div class="breadcrumbs-area position-relative" style="background-image:None">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                         <h3 class="title-3">Ошибка 404</h3>
                            <h3 class="title-3">Страница <code>{{ path }}</code> не найдена</h3>
                            <ul>
                                <li><a href="{% url 'index' %}">На главную</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
  </div>
{% endblock %} 