 {% extends "includes/base.html" %}

 {% block content %}
 {% load static %}
 <div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Blog Sidebar</h3>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="blog-main-area">
            <div class="container container-default custom-area">
                <div class="row flex-row-reverse">
                    <div class="col-lg-12 col-12 col-custom widget-mt">
                        <!-- Blog Wrapper Start -->
                        <div class="row">
                        {% for post in page %}
                            <div class="col-md-6 col-custom mb-4">
                                <div class="single-blog">
                                    <div class="single-blog-thumb">
                                        
                                        {% load thumbnail %}
                                        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                                            <img src="{{ im.url }}" alt="Blog Image">{% endthumbnail %}
                                        
                                    </div>
                                    <div class="single-blog-content position-relative">
                                        <div class="post-date text-center border rounded d-flex flex-column position-absolute">
                                            <span>{{ post.pub_date|date:"d"}}</span>
                                            <span>{{ post.pub_date|date:"m"}}</span>
                                        </div>
                                       
                                        <h2 class="post-title">
                                            <a href="{% url 'post' post.id %}">{{ post.title|upper }}</a>
                                        </h2>
                                        <p class="desc-content">{{ post.text|truncatewords:20 }}.</p>
                                    </div>
                                </div>
                            </div>{% endfor %}
                            
                            
                        
                        <!-- Blog Wrapper End -->
                        <!-- Bottom Toolbar Start -->



                   
                        <div class="row">
                            <div class="col-sm-12 col-custom">
                                <div class="toolbar-bottom">
                                    <nav class="pagination pagination-wrap mb-10 mb-sm-0">  
                                        <ul class="pagination">
                                         {% if page.has_other_pages %}
                                        {% if page.has_previous %}
                                            <li class="disabled prev">
                                            <a href="?page={{ posts.previous_page_number }}"&laquo;>
                                                <i class="ion-ios-arrow-thin-left"></i></a> 
                                            </li>{% endif %}
                                             {% for i in page.paginator.page_range %}
                                                {% if page.number == i %}
                                            <li class="active"><a>{{ i }}</a></li>
                                          
                                           {% else %}
                                            <li class="active">
                                            <a href="?page={{ i }}">{{ i }}</a>
                                            </li> {% endif %}{% endfor %}
                                                
                                            {% if page.has_next %}
                                            <li class="next">
                                                <a href="?page={{ page.next_page_number }}"&laquo;><i class="ion-ios-arrow-thin-right"></i></a>
                                            </li>{% endif %}{% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Bottom Toolbar End -->
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>



{% endblock %}