{% extends "includes/base.html" %}

 {% block content %}
 {% load static %}
<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">{{ post.title }}</h3>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


 <div class="blog-main-area">
            <div class="container container-default-2 custom-area">
                <div class="row flex-row-reverse">
                    <div class="col-12 col-custom mt-no-text">
                        <!-- Blog Details wrapper Area Start -->
                        <div class="blog-post-details">
                            <figure class="blog-post-thumb mb-5">
                            {% load thumbnail %}
                                        {% thumbnail post.image "960" crop="center" upscale=True as im %}
                                            <img class="w-100" src="{{ im.url }}" alt="Blog Image">{% endthumbnail %}
                                
                            </figure>
                            <section class="blog-post-wrapper product-summery">
                                <div class="section-content">
                                    <h2 class="title-1 mb-3">{{ post.title }}</h2>
                                    <p class="mb-4">{{ post.text |linebreaksbr }}</p>
                                    
                                   
                                </div>
    
                            </section>
                        </div>
                        <!-- Blog Details Wrapper Area End -->
                
                        <!-- Blog Comments Area End -->
                    </div>
                </div>
            </div>
        </div>{% endblock %}