{% extends "includes/base.html" %}
{% block content %}
<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Корзина</h3>
                            <ul>
                                <li><a href="{% url 'shop' %}">Магазин</a></li>
                                <li>Корзина</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% if not cart_items %}
	<div class="cart-main-wrapper mt-no-text mb-no-text">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Товар</th>
                                        <th class="pro-title">Название</th>
                                        <th class="pro-price">Цена</th>
                                        <th class="pro-quantity">Количество</th>
                                        <th class="pro-subtotal">Всего</th>
                                        <th class="pro-remove">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr>
                                    
                                        <td class="pro-thumbnail">-</td>
                                        <td class="pro-title">-</td>
                                        <td class="pro-price">-</span></td>
                                        <td class="pro-quantity">-</td>
                                        <td class="pro-subtotal">-</td>
                                        <td class="pro-remove">-</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                    <a href="{% url 'shop' %}" class="btn obrien-button primary-btn d-block">Перейти в магазин</a>
                
                            
                        </div>
                    </div>
                </div></div>
                
  </div>
                </div>
{% else %}
    
<div class="cart-main-wrapper mt-no-text mb-no-text">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Товар</th>
                                        <th class="pro-title">Название</th>
                                        <th class="pro-price">Цена</th>
                                        <th class="pro-quantity">Количество</th>
                                        <th class="pro-subtotal">Всего</th>
                                        <th class="pro-remove">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cart_item in cart_items %}
                                    <tr>
                                    
                                        <td class="pro-thumbnail"><a href="{% url 'product' cart_item.product.id %}"> {% load thumbnail %}
                                        {% thumbnail cart_item.product.image "x339" crop="center" upscale=True as im %}
                                            <img src="{{ im.url }}" alt="Product Image" class="product-image-1 w-100" >{% endthumbnail %}
                                            </a></td>
                                        <td class="pro-title"><a href="{% url 'product' cart_item.product.id %}">{{ cart_item.product.name }}</a></td>
                                        <td class="pro-price"><span>{{ cart_item.product.price }}</span></td>
                                        <td class="pro-quantity">
                                           {% if cart_item.quantity < cart_item.product.stock %}
                                               <div class="quantity">
                                                <a href="{% url 'cart_remove' cart_item.product.id %}" style="margin-right:20px;"><i class="fa fa-minus"></i></a>
                                                 
                                                    {{ cart_item.quantity }}
                                
                                                    <a href="{% url 'add_cart' cart_item.product.id %}" style="margin-left:20px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            {% else %}
                                            <div class="quantity">
                                                <a href="{% url 'cart_remove' cart_item.product.id %}" style="margin-right:20px;"><i class="fa fa-minus"></i></a>
                                                 
                                                    {{ cart_item.quantity }}
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td class="pro-subtotal"><span>{{ cart_item.quantity }} x {{ cart_item.product.price }}</span></td>
                                        <td class="pro-remove"><a href="{% url 'cart_remove' cart_item.product.id %}"><i class="ion-trash-b"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3>В вашем заказе</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>Всего товаров</td>
                                            <td>{{ counter }}</td>
                                        </tr>
                                        {% if sale.is_active %}
                                        <tr class="total">
                                            <td>Сумма без скидки </td>
                                            <td>{{ total_without_discount }}</td>
                                        <tr>
                                            <td>Скидка</td>
                                            <td>{{ sale.discount }}%</td>
                                        </tr>
                                        {% endif %}
                                        <tr class="total">
                                            <td>К Оплате </td>
                                            <td class="total-amount">{{ total }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>   
                    <a href="{% url 'create' %}" class="btn obrien-button primary-btn d-block">Оформить заказ</a></div>
    </div>
</div></div>
{% endif %}
                
  </div>
</div>
{% endblock %}