{% extends "includes/base.html" %}
{% block content %}

<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">{{ category.name }}</h3>
                            <ul>
                                <li><a href="{% url 'shop' %}">Все товары</a></li>
                                <li>{{ category.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
  </div>
  <div class="shop-main-area shop-fullwidth">
            <div class="container container-default custom-area">
                <div class="row flex-row-reverse">
                    <div class="col-12 col-custom widget-mt">
                        <div class="shop_toolbar_wrapper">
                            <div class="shop_toolbar_btn">
                                <button data-role="grid_4" type="button" class="active btn-grid-4" data-toggle="tooltip" title="4"><i class="fa fa-th"></i></button>
                                <button data-role="grid_3" type="button" class="btn-grid-3" data-toggle="tooltip" title="3"> <i class="fa fa-th-large"></i></button>
                                <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                            </div>   
                        </div>
                        <div class="row shop_wrapper grid_4">
                         {% for product in page %}
                            <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                                {% include 'includes/product_card.html' %}    
                            </div>{% endfor %}    
                        </div>
                         {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
{% endblock%}