{% extends 'includes/base.html' %}

{% block content %}

<div class="shop-select">
                                <form class="d-flex flex-column w-100" method="GET">
                                    <div class="form-group">
                                        <select class="form-control nice-select w-100">
                                            {{ filter.form }}
                                            <button type="submit">Search</button>
                                            
                                        </select>
                                    </div>
                                </form>
                                <ul>
                                            {% for product in filter.qs%}
                                            <li>{{ product.name }}</li>
                                            {% endfor %}
                                            </ul>
                            </div>


{% endblock %}

