{% extends "includes/base.html" %}
{% block content %}
{% load static %}
<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">{{ product.name }}</h3>
                            <ul>
                                <li><a href="{% url 'shop' %}">Все товары</a></li>
                                <li>>{{ product.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-product-main-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-5 col-custom">
                        <div class="product-details-img horizontal-tab">
                            
                                <div class="single-image border">
                                    <a class="d-block" href="">
                                        {% load thumbnail %}
                                        {% thumbnail product.image "x339" crop="center" upscale=True as im %}
                                        <img src="{{ im.url }}" alt="Product Image" class="product-image-1 w-100" >{% endthumbnail %}  
                                        </a>
                                </div>
                                
                           
                            
                        </div>
                    </div>
                    <div class="col-lg-7 col-custom">
                        <div class="product-summery position-relative">
                            <div class="product-head mb-3">
                                <h2 class="product-title">{{ product.name }}</h2>
                            </div>
                            <div class="price-box mb-2">
                                <span class="regular-price">{{ product.price }} ₽</span>
                                
                            </div>
                            
                            <p class="desc-content mb-5">{{ product.description }}</p>
                            <div class="quantity-with_btn mb-4">
                                <div class="add-to_cart">
                                    <a class="btn obrien-button primary-btn" href="{% url 'add_cart' product.id %}">Добавить в корзину</a>
                                </div>
                            </div>
                            
                            
                           
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="product-area mb-no-text">
            <div class="container container-default custom-area">
               
                
            </div>
        </div>
        
        {% endblock %}