{% extends "includes/base.html" %}

 {% block content %}
 {% load static %}

<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Shop Sidebar</h3>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Shop Main Area Start Here -->
<div class="shop-main-area">
            <div class="container container-default custom-area">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9 col-12 col-custom widget-mt">
                        <!--shop toolbar start-->
                        <div class="shop_toolbar_wrapper">
                            <div class="shop_toolbar_btn">
                                <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
                                <!-- <button data-role="grid_4" type="button"  class=" btn-grid-4" data-toggle="tooltip" title="4"></button> -->
                                <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                            </div>
                            <div class="shop-select">
                                <form class="d-flex flex-column w-100" method="GET" id="id_ordering">
                                    <div class="form-group">
                                       
                                        {{ filter.form }}
                                            
                                       
                                    </div><button type="submit">кнопка</button>
                                </form>
                            </div>
                        </div>
                        <!--shop toolbar end-->
                        <!-- Shop Wrapper Start -->
                         
                        <div class="row shop_wrapper grid_3">
                        {% for product in filter.qs %}
                            <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
                           
                                {% include 'includes/product_card.html'%}
                            </div>   
                        
                            
                        {% endfor %}
                            
                            
                      
  </div>{% if is_paginated %}
                   <div class="row">
                            <div class="col-sm-12 col-custom">
                                <div class="toolbar-bottom">
                                    <nav class="pagination pagination-wrap mb-10 mb-sm-0">  
                                        <ul class="pagination">
                                        {% if page_obj.has_other_pages %}
                                        {% if page_obj.has_previous %}
                                            <li class="disabled prev">
                                            <a href="?page={{ products.previous_page_number }}"&laquo;>
                                                <i class="ion-ios-arrow-thin-left"></i></a> 
                                            </li>{% endif %}
                                             {% for i in page_obj.paginator.page_range %}
                                                {% if page.number == i %}
                                            <li class="active"><a>{{ i }}</a></li>
                                          
                                           {% else %}
                                            <li class="active">
                                            <a href="?page={{ i }}">{{ i }}</a>
                                            </li> {% endif %}{% endfor %}
                                                
                                            {% if page_obj.has_next %}
                                            <li class="next">
                                                <a href="?page={{ page_obj.next_page_number }}"&laquo;><i class="ion-ios-arrow-thin-right"></i></a>
                                            </li>{% endif %}{% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>{% endif %}
 </div>
                    <div class="col-lg-3 col-12 col-custom">
                        <!-- Sidebar Widget Start -->
                        <aside class="sidebar_widget widget-mt">
                            <div class="widget_inner">
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Search</h3>
                                    <div class="search-box">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search Our Store" aria-label="Search Our Store">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Menu Categories</h3>
                                    <!-- Widget Menu Start -->
                                    <nav>
                                        <ul class="mobile-menu p-0 m-0">
                                            <li class="menu-item-has-children"><a href="#">Breads</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Skateboard (02)</a></li>
                                                    <li><a href="#">Surfboard (4)</a></li>
                                                    <li><a href="#">Accessories (3)</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Fruits</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Samsome</a></li>
                                                    <li><a href="#">GL Stylus (4)</a></li>
                                                    <li><a href="#">Uawei (3)</a></li>
                                                    <li><a href="#">Avocado (3)</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Vagetables</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Power Bank</a></li>
                                                    <li><a href="#">Data Cable (4)</a></li>
                                                    <li><a href="#">Avocado (3)</a></li>
                                                    <li><a href="#">Brocoly (3)</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Organic Food</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Vagetables</a></li>
                                                    <li><a href="#">Green Food (4)</a></li>
                                                    <li><a href="#">Coconut (3)</a></li>
                                                    <li><a href="#">Cabage (3)</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Widget Menu End -->
                                </div>
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Категории</h3>
                                    <div class="sidebar-body">
                                        <ul class="sidebar-list">
                                            {% for category in categories %}
                                            <li><a href="#">{{ category.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                </div>
                                <div class="widget-list widget-mb-4">
                                    <h3 class="widget-title">Recent Products</h3>
                                    <div class="sidebar-body">
                                        <div class="sidebar-product align-items-center">
                                            <a href="product-details.html" class="image">
                                                <img src="assets/images/product/small-product/1.jpg" alt="product">
                                            </a>
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h4 class="title-2"> <a href="product-details.html">Product dummy name</a></h4>
                                                </div>
                                                <div class="price-box">
                                                    <span class="regular-price ">$80.00</span>
                                                    <span class="old-price"><del>$90.00</del></span>
                                                </div>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidebar-product align-items-center">
                                            <a href="product-details.html" class="image">
                                                <img src="assets/images/product/small-product/2.jpg" alt="product">
                                            </a>
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h4 class="title-2"> <a href="product-details.html">Product dummy title</a></h4>
                                                </div>
                                                <div class="price-box">
                                                    <span class="regular-price ">$50.00</span>
                                                    <span class="old-price"><del>$60.00</del></span>
                                                </div>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidebar-product align-items-center">
                                            <a href="product-details.html" class="image">
                                                <img src="assets/images/product/small-product/3.jpg" alt="product">
                                            </a>
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h4 class="title-2"> <a href="product-details.html">Product title here</a></h4>
                                                </div>
                                                <div class="price-box">
                                                    <span class="regular-price ">$40.00</span>
                                                    <span class="old-price"><del>$50.00</del></span>
                                                </div>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
</div></div></div>
    {% endblock %}