{% extends "includes/base.html" %}
{% block content %}

<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Вход</h3>
                            <ul>
                                <li><a href="{% url 'index'%}">На главную</a></li>
                                <li>Вход</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Login Area Start Here -->
        <div class="login-register-area mt-no-text mb-no-text">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                        <div class="login-register-wrapper">
                            <div class="section-content text-center mb-5">
                                <h2 class="title-4 mb-2">Вход</h2>
                                <p class="desc-content">Введите свои данные для входа</p>
                            </div>
                        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Имя пользователя и пароль не совпадают. Введите правильные данные.
        </div>
        {% endif %}
                            <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                <div class="form-group row">
              <label for="{{ form.username.id_for_label }}" >Имя пользователя</label>
              <div class="single-input-item mb-3">
                  {{ form.username}}
              </div>
          

          <div class="single-input-item mb-3">
              <label for="{{ form.password.id_for_label }}">Пароль</label>
              
                  {{ form.password}}
              
          </div>
<div class="single-input-item mb-3">
                                    <button type="submit" class="btn obrien-button-2 primary-color">Войти</button>
                                </div>
                                <div class="single-input-item mb-3">
                                    <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                        <div class="remember-meta mb-3">
                                            
                                                <a href="{% url 'signup' %}">Зарегистрироваться</a>
                                            
                                        </div>
                                        <a href="{% url 'password_reset' %}" class="forget-pwd mb-3">Забыли пароль?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

                             

{% endblock%}