{% extends "includes/base.html" %}

{% block content %}

<div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Ссылка на восстановление пароля отправлена</h3>
                            <ul>
                                Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}