 {% extends "includes/base.html" %}

 {% block content %}
 {% load static %}
<div class="home-wrapper home-1">
         {% load static %} 
        <div class="slider-area">
            <div class="obrien-slider arrow-style" data-slick-options='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "infinite": true,
        "arrows": true,
        "dots": true,
        "autoplay" : true,
        "fade" : true,
        "autoplaySpeed" : 7000,
        "pauseOnHover" : false,
        "pauseOnFocus" : false
        }' data-slick-responsive='[
        {"breakpoint":992, "settings": {
        "slidesToShow": 1,
        "arrows": false,
        "dots": true
        }}
        ]'>
                <div class="slide-item slide-1 bg-position slide-bg-1 animation-style-01">
                    <div class="slider-content">
                        <h4 class="slider-small-title">Добро пожаловать в магазин<br>здоровой еды</h4>
                        <h2 class="slider-large-title">Obrien</h2>
                        <div class="slider-btn">
                            <a class="obrien-button black-btn" href="{% url 'shop' %}">Выбрать продукты</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="feature-area">
            <div class="container container-default custom-wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-md-12 col-custom">
                        <div class="feature-content-wrapper">
                            <h2 class="title">{{ whyblock.title }}</h2>
                            <p class="desc-content">{{ whyblock.text |linebreaksbr}}</p>
                            
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-12 col-custom">
                        <div class="feature-image">
                            {% load thumbnail %}
                                        {% thumbnail whyblock.photo "960" crop="center" upscale=True as im %}
                                            <img  src="{{ im.url }}" alt="Blog Image">{% endthumbnail %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-5 m-auto text-center col-custom">
                        <div class="section-content">
                            <h2 class="title-1 text-uppercase">Новые поступления</h2>
                            <div class="desc-content">
                                <p>Новинки в нашем магазине</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row shop_wrapper grid_3">
                        {% for product in new %}
                            <div class="col-md-6 col-sm-6 col-lg-2 col-custom product-area">
                           {% include 'includes/product_card.html' %}
                            </div>
                        {% endfor %}
                  </div>
        </div>
        {% if sale.is_active %}
        <div class="banner-fullwidth-area">
            <div class="container custom-wrapper">
                <div class="row">
                    <div class="col-md-5 col-lg-6 text-center col-custom">
                        <div class="banner-thumb h-100 d-flex justify-content-center align-items-center">
                        {% load thumbnail %}
                                        {% thumbnail sale.image "x339" crop="center" upscale=True as im %}
                                            <img src="{{ im.url }}" alt="Product Image" >{% endthumbnail %}
                            
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-6 text-center justify-content-center col-custom">
                        <div class="banner-flash-content d-flex flex-column align-items-center justify-content-center h-100">
                            <h2 class="deal-head text-uppercase">Мега-скидки</h2>
                            <h3 class="deal-title text-uppercase">{{ sale.title }}</h3>
                            <a href="{% url 'shop' %}" class="obrien-button primary-btn">В магазин</a>
                            <div class="countdown-wrapper d-flex justify-content-center" data-countdown="{{ timer }}"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endif %}

{% include 'includes/latest_posts.html'%}       
    </div>
{% endblock %}
